.emptyMessage {
  font-weight: bold;
  color: red;
  font-size: 1.2em;
}
li {
  margin-bottom: 7px;
  font-size: 1.2em;
}
li > button {
  margin-left: 6px;
}
button > span.green {
  color: green;
}
button > span.red {
  color: red;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    display: table;
}

.word {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 1000%;
}
